# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Gradle Publish

on:
  release:
    types: [created]

jobs:
  build:
    name: Build and Publish Package
    runs-on: ubuntu-latest
    timeout-minutes: 30
    environment: 'BY WMS 2020.1.1 QA'
    env:
      CF_PROXY_PORT: 4600
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: Voodoo262/cloudflare-access-proxy@363aef0df51ac8d863f821b9bbc052ad0fdd41e5 # v1.0.0
      with:
        cf-access-client-id: ${{ secrets.CF_ACCESS_CLIENT_ID }}
        cf-access-client-secret: ${{ secrets.CF_ACCESS_CLIENT_SECRET }}
        target-url: ${{ secrets.CF_ACCESS_TARGET_URL }}
        listen-port: ${{ env.CF_PROXY_PORT }}
        
    - name: Set up JDK 8
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

    - name: Build with Gradle
      env:
        MOCA_URL: 'http://localhost:${{ env.CF_PROXY_PORT }}/service'
        MOCA_HOST: ${{ vars.MOCA_HOST }} # Not used yet
        MOCA_PORT: ${{ vars.MOCA_PORT }} # Not used yet
        MOCA_USER: ${{ secrets.MOCA_USER }}
        MOCA_PASS: ${{ secrets.MOCA_PASS }}
      run: ./gradlew build

    # The USERNAME and TOKEN need to correspond to the credentials environment variables used in
    # the publishing section of your build.gradle
    - name: Publish to GitHub Packages
      run: ./gradlew publish
      env:
        GITHUB_ACTOR: ${{ github.actor }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
